body {
    background-color: blanchedalmond;
}
div div div  {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}


